* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* HEADER */
header {
    position: relative;
}

header #hero {
    height: 600px;
    background: url("../img/hero.jpg") no-repeat center left;
    background-size: cover;
}

header h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    color: rgb(228, 228, 228);
    ;
    font-size: 6rem;
    font-style: italic;
}
/* MAIN */

main {
    margin: 3rem 2rem;
}
/* ROW AND COLUMNS */

.row::after {
    content: "";
    clear: both;
}

.column {
    float: left;
    width: 30%;
    background-color: lightblue;
    border-radius: 25px;
    padding: .5rem 1.5rem;
    margin: 0 .5rem;
}
.column h2.heading {
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration: underline;
    color: lightseagreen;
}

.column p, footer {
    text-align: center;
}

footer {
    clear: both;
}